.color:visited{color: red;}
.myButton {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
	width: 20%;
}
.myButton:hover {
	background-color:#73469c;
	color: black;
}
.myButton:active {
	position:relative;
	top:1px;
	background-color: yellow;
	color: red;
}
.list li:nth-child(even){background-color: gray;}
.list li:nth-child(odd){background-color: white;}
.qq:hover{cursor: pointer;}
.ww{background-color: pink;}
table{border:1px solid #4e6096; border-radius:10px; text-align: center;}
table th, td {padding: 10px;}
